.header-container {
    display: flex;
    background-color: #333;
    color: white;
    height: 60px;
    /* padding: 20px; */
    text-align: center;
    /* Add more styling as needed */
  }
  
.list-items {
    display:flex;
    list-style-type: none; /* Remove the default list item bullets/dots */
    padding: 20px; /* Remove default padding for the ul element */
    margin: 0; /* Remove default margin for the ul element */
    text-decoration: none; /* Remove underline from anchor links */
    color: white;
  }

.list-items > li > a {
color: white !important;
}

    